- if @pictures.any?
  - @pictures.each do |picture|
    = image_tag picture.image.url(:medium)
    = link_to 'Delete', picture_path(picture), method: :delete
    %br
- else
  Your instagram is empty
%br
%a(href=new_picture_path) Add a picture
